docker-mount
.git
**/vendor
shared
docker-compose
*/**/default/services.yml
*/*/default/settings.php
**/sites/*/files/
**/sites/**/private
**/sites/**/twig
**/modules/contrib
**/core
# Ignore configuration files that may contain sensitive information.
**/sites/*/*settings*.php